/.metadata
/code
/spring-5.2.9.RELEASE-dist
/servers
/springDemoOne/.settings
/springDemoOne/lib
/springDemoOne/bin
/springDemoOne/.project
/springDemoOne/.classpath

/spring-demo-annotations/.settings
/spring-demo-annotations/lib
/spring-demo-annotations/bin
/spring-demo-annotations/.project
/spring-demo-annotations/.classpath

